{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block content %}
  <h1>{% block title %}Paskyros apsauga{% endblock %}</h1>

  {% if default_device %}
    <p>{% blocktrans with primary=default_device|as_action %}Pagrindinis metodas: {{ primary }}{% endblocktrans %}</p>

    {% if available_phone_methods %}
      <h2>{% trans "Backup Phone Numbers" %}</h2>
      <p>Jeigu pagrindinis metodas nėra galimas, tai galima naudoti telefonų numerius po apačia.</p>
      {% if backup_phones %}
        <ul>
          {% for phone in backup_phones %}
            <li>
              {{ phone|as_action }}
              <form method="post" action="{% url 'two_factor:phone_delete' phone.id %}"
                  onsubmit="return confirm({% trans 'Are you sure?' %})">
                {% csrf_token %}
                <button class="btn btn-sm btn-warning"
                      type="submit">Išregistruoti</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <p><a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-info">Pridėti telefono numerį</a></p>
    {% endif %}

    <h2>Atsarginiai kodai</h2>
    <p>
      Jeigu šiuo metu neturi kito išmanaus įrenginio, gali naudoti atsarginius kodus, kad pasiektum savo profilį. 
      {% blocktrans trimmed count counter=backup_tokens %}
        Turi tik vieną atsarginį kodą.
      {% plural %}
        Turi {{ counter }} atsarginius kodus.
      {% endblocktrans %}
    </p>
    <p><a href="{% url 'two_factor:backup_tokens' %}"
          class="btn btn-info">Rodyti atsarginius kodus</a></p>

    <h3>Išjungti dviejų faktorių autentifikaciją</h3>
    <p>Kad ir kaip nefaina neturėt dviejų faktorių autentifikacijos, vis tiek galimą ją išjungti.</p>
    <p><a class="btn btn-secondary" href="{% url 'two_factor:disable' %}">
      Išjungti dviejų faktorių autentifikaciją</a></p>
  {% else %}
    <p>Dviejų faktorių autentifikacija nėra įjungta.</p>
    <p><a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
      Įjungti dviejų faktorių autentifikaciją</a>
    </p>
  {% endif %}
{% endblock %}
