{% extends "_base.html" %}
{% block title %}{{ user.display_name }} • Muzikos sistema{% endblock %}
{% block content %}
  <!-- User Header -->
  <div class="card shadow-sm mb-4 bg-body-tertiary">
    <div class="card-body d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3">
        {% if user.profile_cover_url %}
          <img
            height="180"
            width="180"
            src="{{ user.profile_cover_url.url }}"
            class="rounded-circle shadow-sm"
            alt="user profile cover"
          />
        {% else %}
          <div
            style="width: 180px; height: 180px; box-shadow: inset 0px 0px 16px 0px #000c;"
            class="rounded-circle bg-secondary"
          ></div>
      {% endif %}
        <div>
          <h3 class="mb-1 text-body-emphasis">{{ user.display_name }}</h3>
          <p class="text-muted mb-0">{{ user.follower_count }} sekėjai • {{ user.email }}</p>
          {% if user.biography %}
            <p>{{ user.biography }}</p>
          {% endif %}
        </div>
      </div>
      {% if "user" in request.session and user.pk == request.session.user_id %}
        <a href="{% url 'users:userEdit' %}" class="btn btn-outline-secondary me-2">
            Redaguoti profilį
        </a>
      {% endif %}
    </div>
  </div>

  <section>
    <div class="d-flex justify-content-between align-items-start">
      <h2 class="mb-4 fw-semibold">Dainos</h2>
      {% if "user" in request.session and user.pk == request.session.user_id %}
      <a href="{% url 'music:createSong' %}" class="btn btn-outline-secondary me-2">
        Įkelti dainą
      </a>
      {% endif %}
    </div>
    <div class="row row-cols-auto g-4">
      {% if dainos %}
        {% for daina in dainos %}
          <div class="song-card" data-href="{% url 'music:playSong' daina.pk %}">
            <div class="img-wrapper">
              <img
                height="180"
                width="180"
                src="{{ daina.virselis_url }}"
                class="rounded-2"
                alt="song cover"
              />
              <div class="play-btn-wrapper">
                <span class="tooltip-text">Paleisti {{daina.pavadinimas}}</span>
                <button type="button" class="play-btn" popovertarget="music-player"
                  data-audio="{{ daina.failas_url }}"
                  data-title="{{ daina.pavadinimas }}"
                  data-artist="{{ daina.savininkas.display_name }}"
                  data-cover="{{ daina.virselis_url }}"
                >
                  <svg class="play-icon" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24">
                    <path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path>
                  </svg>
                </button>
              </div>
            </div>
            <h6 class="card-title mt-1 mb-1">{{ daina.pavadinimas }}</h6>
            <p class="text-muted small mb-2">{{ daina.savininkas.display_name }}</p>
          </div>
        {% endfor %}
      {% else %}
      <p class="text-muted">Dainų nėra.</p>
      {% endif %}
    </div>
  </section>

  <section>
    <div class="d-flex justify-content-between align-items-start">
      <h2 class="mb-4 fw-semibold">Grojaraščiai</h2>
      {% if "user" in request.session and user.pk == request.session.user_id %}
      <a href="{% url 'playlists:createPlaylist' %}" class="btn btn-outline-secondary me-2">
        Sukurti grojaraštį
      </a>
      {% endif %}
    </div>
    <div class="row row-cols-auto g-4">
      {% if playlists %} 
          {% for playlist in playlists %}
              <a class="playlist-card" href="{% url 'playlists:PlaylistDetail' playlist.pk %}">
                  <img
                      height="180"
                      width="180"
                      src="https://picsum.photos/180?random=5"
                      class="rounded-2"
                      alt="album cover"
                  />
                  <h6 class="card-title mt-1 mb-1">{{ playlist.pavadinimas }}</h6>
              </a>
          {% endfor %} 
      {% else %}
          <p class="text-muted">Grojaraščių nėra.</p>
      {% endif %}
    </div>
  </section>
  
  <section>
    <div class="d-flex justify-content-between align-items-start">
      <h2 class="mb-4 fw-semibold">Koncertai</h2>
      {% if "user" in request.session and user.pk == request.session.user_id %}
      <a href="{% url 'concerts:createConcert' %}" class="btn btn-outline-secondary me-2">
          Skelbti koncertą
        </a>
        {% endif %}
    </div>
    <div class="row g-4">
      {% if koncertai %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {% for koncertas in koncertai %}
            <a class="card concert-card" href="{% url 'concerts:concertDetail' pk=koncertas.pk %}">
              <img
                src="https://picsum.photos/320/180?random={{ koncertas.pk }}"
                class="card-img-top"
                alt="Concert cover"
              />
              <div class="card-body">
                <small class="text-muted">{% if koncertas.pradzios_data %}{{ koncertas.pradzios_data|date:"Y M d" }}{% endif %} - {% if koncertas.pabaigos_data %}{{ koncertas.pabaigos_data|date:"d" }}{% endif %} · {{ koncertas.get_zanras_display }}</small>
                <h5 class="card-title mt-2">{{ koncertas.pavadinimas }}</h5>
                <small class="text-muted">
                  Bilietų: {{ koncertas.zmoniu_talpa }} · Įvertis: {{ koncertas.rekomendacijos_ivertis|floatformat:1 }}/10
                </small>
                {% if not koncertas.yra_viesas %}
                  <div class="mt-2"><span class="badge bg-secondary">Privatus</span></div>
                {% endif %}
                {% if koncertas.yra_atsauktas %}
                  <div class="mt-2"><span class="badge bg-danger">Atšauktas</span></div>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-muted">Koncertų nėra.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}