:root {
  height: 100%;
  color-scheme: light dark;
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --card-bg: #fff;
  --nav-bg: #212529;
  --footer-bg: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #f8f9fa;
    --card-bg: #1e1e1e;
    --nav-bg: #000;
    --footer-bg: #000;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  height: 100%;
  overscroll-behavior-y: none;
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.navbar,
footer {
  background-color: var(--nav-bg) !important;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: none;
}

.hero {
  background: linear-gradient(135deg, #6f42c1, #6610f2);
  color: white;
  padding: 80px 0;
  text-align: center;
}

.card img {
  height: 180px;
  object-fit: cover;
}

:popover-open {
  position: absolute;
  top: auto;
  border: none;
  width: 100%;
  background-color: var(--card-bg);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 10px;

  & img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
  }

  & div {
    line-height: 1;
  }
}

.player-controls {
  flex: 1;
  display: flex;
}

audio {
  height: 40px;
  width: 100%;
}

audio::-webkit-media-controls-enclosure {
  background: rgba(0, 0, 0, 0);
}

.song-card,
.playlist-card,
.user-card {
  padding: 1rem;
  border-radius: 1rem;
  display: block;

  text-decoration: none;
  &:is(:hover) {
    background-color: var(--card-bg);
  }

  & img {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }

  & h6 {
    color: var(--text-color);
  }

  & h6,
  p {
    line-height: normal;
    max-width: 180px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.layout {
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}
